.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}
.slider {
    position: relative;
    padding: 0px 60px;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;

    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
    border: none;
}

.slider .slick-arrow.slick-arrow.slick-disabled{
    opacity: 0.2;
}
.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../images/arrow_left.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
    right: 0;
    background: url("../images/arrow_right.svg") 0 0 / 100% no-repeat;
}

/* Точки (булиты) */
.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

/* Элемент точки */
.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid black;
    padding: 0;
    
}
.slider .slick-dots li.slick-active button{
    background-color: rgba(0, 0, 0, 0.226);
}
.slider__item{
    text-align: center;
    
}